@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');
/* apply all css */
  * {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5vw;
}


body {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
}
/* end of apply all css */



/* heading css */
h1 {
  font-size: 50pt;
  text-align: center;
  font-weight: 100;
  }
  
  
h2 {
  font-size: 30pt;
  font-weight: 100;
}
  
  
h3 {
  font-size: 18pt;
  font-weight: 100;
  margin: 0 auto;
  }
/* end of headings css */


/* Navigation Bar CSS */
nav {
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0;
  z-index: 9999;
  color: black;
  text-align: center;
  
}


.navBar {
  display:flex;
  color: black;
  text-align: center;
}


.navBox {
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-weight: 100;
  text-align: center;
  margin: 0;
  padding: 1%;
  position: relative;
  z-index: 1;
  flex: 1;
  color: black;
  background-color: rgba(221, 69, 255, 0.319);
  border-bottom: 2px solid black;
}


.navBox h3 {
  color: white;
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto;
}


nav a {
  text-decoration: none;
  color: white;
  display: flex;
  z-index: 999;
}


.navBox:before {
  color: white;
}

.navBox:link {
  text-decoration: none;
  color: white;
}

.navBox:visited {
  text-decoration: none;
  color: white;
}    

.navBox:hover { 
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.736);
  color: rgb(255, 0, 136);

}
/* End of Nav Bar CSS */


/* website page css */
.projects {
  margin: 1% auto;
  padding-top: 2%;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  width: 95%;
  border-radius: 10px;
  background-color: #51215bba;
}


.projects h1 {
  margin: 0;
}


.projectTop {
  text-decoration: none;
  color: white;
}


.linkH3 {
  color: white;
  text-decoration: none;
}


.headings {
  color:#c526a8;
  margin: 0 2%;
}


.project {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  color: white;

}


.websites {
  width: 45vw;
}


.website {
  width: 45vw;
  height: 35;
  margin: 2vw;
  display: flex;
  border: 2px solid black;
}


.website:hover {
  content: ''; /* Create a pseudo-element to apply the glow */
  position: relative; /* Position the pseudo-element */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  box-shadow: 0 0 10px 5px rgb(255, 51, 177); /* Adjust the shadow properties */
  border-radius: inherit; /* Use the same border-radius as the image */
  z-index: -1; /* Place behind the image */

}


.websiteLabel {
  width: 90%;
  margin: 2% 6%;
}


.githubLogo {
  margin: 0 8%;
}
/* end of website css */


/* home page css */
.home {
  display: grid;
  grid-template-columns: 25% 50% 25%; /* Three columns with different widths */
  height: 100%;
}


.main {
  height: fit-content;
  background-color: #1e1e1e;
  display: flex;
  border: 2px solid #ffffff1d;
  z-index: 9;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

/* banner css */
.banner {
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  text-align: left;
  width: 100%;
  justify-content: left;
  padding: 0 auto;
}


.selfie {
  width: 25%;
  height: 35%;
  display: flex; 
  border-radius: 10px;
  margin: 3%;
  margin-left: 2.5%;
  margin-bottom: 5%;
}

.typing {
  width: 65%;
  height: max-content;
  padding: 1%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  
}


.typingText {
  color: white;
  padding: 0;
  display: flex;
  width: 100%;
  font-size: 1.7em;
}


.flashing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  height: fit-content;
  margin: 0;
  font-size: 2.5rem;
}

.flashingWord {
  margin: 0;
  width:fit-content;
  height: fit-content;
  text-align: left;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 1.7rem;
}


.flashWords {
  display: flex;
  justify-content: start;
  width: 100%;
  height: fit-content;
  align-content: center;
  text-align: left;
  transition: color 0.5s ease-in-out;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
/* banner css end */

.adjList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: space-evenly;
  color: #333; /* Default text color */
  transition: 0.3s; /* Transition for smooth hover effect */
}  


/* side columns css */
ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;

}


.sideColumn {
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(fit-content, 1fr)); 
  height: 100%;
  position: relative;
  justify-content: justify;
  align-items: justify;
  text-align: justify;
  overflow: hidden;
  font-size: 99%;
  padding: 5% 3%;
  margin: 0;
}


#right {
  display: grid;
  justify-content: right;
  margin-left: auto;
}


.words {
  width: fit-content;
  text-align: justify;
  position: relative;
  margin: 0.5% 1%;
  
}


/* end of side column css */

hr {
  z-index: 99;
  display: flex;
  width: 80%;
  margin: 0 auto;
  position: relative;
  border-radius: 8px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.503);
}


/* bottom section css */
.bottom {
  display: flex;
  height: fit-content;
  width: 100%;
  padding-bottom: 5%;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}


.digdev {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 60%;
  margin: 1% auto;
  transition: transform 0.3s ease-in-out;
}


.projectsHome {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0;
  overflow: visible;
  grid-row-gap: 1.5vh;
  grid-column-gap: 1.5vh;
  justify-content: center;
}


.projectHome {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: visible;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}


.projectHome:hover {
  content: ''; /* Create a pseudo-element to apply the glow */
  position: relative; /* Position the pseudo-element */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 10px 5px rgb(255, 51, 177); /* Adjust the shadow properties */
  border-radius: inherit; /* Use the same border-radius as the image */
  z-index: -1; /* Place behind the image */

}



.projectPics {
  display: block;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}


#digMedia {
  width: 100%;
  height: 100%;
}


.services {
  border-radius: 10px;
  color: white;

}


.services a {
  text-decoration: none;
  color: white;
}
/* end of bottom section css */


/* website page css */
.projectTop{
  color:#51215B;
  font-size: 25pt;
  display: flex;
  justify-content: center;
  align-items: bottom;
  flex-wrap: nowrap;
  margin: 10px auto;
}


.projectTop a, h3 {
  text-decoration: none;
  color:#51215B;
  margin: 0 10px;
  display: flex;
  justify-content: center;
}


#projectWebsite {
  width: 100%;
  height: 100%;
}


.website-apps {
  width: 100%;
  height: 100%;
  z-index: 20;
}
/* end of website page css */


/* powerpoint page css */
.projectPowerpoints {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.paraPP {
  padding: 3%;
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 15pt;
}


.powerpointEx {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


iframe {
  margin: 1.5%;
}


.ppTitle {
  color: white;
}


.paraPP {
  padding: 3%;
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 15pt;
  margin: 0 auto;
  color: white;
}


.ppGroup {
  margin: 0 auto;
  border-radius: 10px;
  padding: 15px;
  width: 90%;
  background-color: #51215bb6;
}


#projectPowerpoints {
  width: 100%;
  height: 100%;
}
/* end of powerpoint page css */


/* services page css */
.services {
  margin: 0 10%;
  padding: 0 5%;
  background-color: #51215bab;
  border-radius: 10px;
}


.services h1 {
  margin: 0;
}

.bold {
  font-weight: 700;
  font-size: 15pt;
}
/* services page css end */


footer {
  width: 100%;
  height: 20vh;
  font-size: 18pt;
  background-color: #51215B;
  position: sticky absolute;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 30;
  align-items: center;
  color: white;
}


footer p {
  margin: 5%;
}


footer a {
  color: white;
  text-decoration: none;
  margin: 5%;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}


/* about me css section */
.aboutSection {
  color: white;
  background-color: rgba(255, 20, 228, 0.212);
  width: 98%;
  height: 200vh;
  margin: 1% auto;
  border-radius: 10px;
}


.aboutTitle {
  width: 70vw;
  margin: 0 auto;
}


.aboutHr {
  border: 1px solid rgba(255, 255, 255, 0.56);
  width: 80%;
  margin: 1% auto;
}


.mainSection {
  display: flex;
  justify-content: center;
}


.leftAside {
  width: 23%;
  border-radius: 10px;
  margin: 1%;
  margin-right: auto;
  color: black;
  background-color: rgba(255, 255, 255, 0.539);
  height: 100%;
  position: absolute;
  top: 37%;
  left: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.gitHubStats {
  width: 20vw;
  margin: 2% auto;
  position: absolute;
  top: 70%;
  right: 8%;
}


.bioPic {
  width: 20vw;
  border-radius: 10px;
  position: absolute;
  top: 5%;
  left: 8%;
  padding: 0 auto;
}


.leftAside h3 {
  font-size: 1.4em;
  font-weight: 700;
}


.skills {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  width: 40%;
  position: absolute;
  left: 30%;
  top: 39%;
  background-color: rgba(255, 255, 255, 0.539);
  border-radius: 10px;
}


.skills h4 {
  font-size: 1.3em;
  font-weight: 700;
  color: #32073a;
  text-align: center;
  margin: 2%;
}


.abtIcons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2%;
  height: 600px;
  color: black;
  border-radius: 10px;
  
}


.iconDiv {
  height: 100px;
  width: 100px;
  margin: 0 auto;
} 


.iconDiv p {
  text-align: center;
  font-size: 0.9em;
  padding: 0 auto;
  margin: 0 auto;
}


.iconAbt {
  height: 7vh;
  width: 5vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5px;
  display: flex; 
}


.programIcons {
  width: 22%;
  height: 600px;
  border-radius: 10px;
  margin-left: auto;
  padding: 5px;
  position: absolute;
  top: 92%;
  right: 7%;
  color: black;
  background-color: rgba(255, 255, 255, 0.539);
  height: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 2%;
}


.exCert {
  color: white;
  font-size: 1.2rem;
  font-weight: 100;
  width: 20vw;
  text-align: center;
  margin-left: auto;
  position: absolute;
  top: 37%;
  right:9%;
}


.AWScert {
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  right: 11%;
  top: 46%;
  width: 15vw;
}


.iconAbt2 {
  height: 5vh;
  width: 5vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;

}


.bio {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 170vh;
  margin: 4%;
  margin-top: 0;
  background-color: rgba(255, 20, 145, 0.17);
  padding: 2%;
  border-radius: 10px;
  justify-content: center;
}


.bio h2 {
  font-size: 2em;
  color:black;
  font-weight: 700;
  position: absolute;
  top: 29%;
  left: 26%;
}


.linkBar {
  display: flex;
  justify-content: space-around center;
  margin: 10%;
}


.abtLinks1 {
  text-align: center;
  position: absolute;
  top: 22%;
  left: 30%;
  margin: 0;
  text-decoration: none;
  color:#c526a8;
}


.abtLinks2 {
  text-align: center;
  position: absolute;
  top: 22%;
  left: 60%;
  margin: 0;
  text-decoration: none;
  color:#c526a8;
}


.biography {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 100%;
  margin: 2%;
  margin-top: 0;
  background-color: rgba(255, 20, 145, 0.17);
  padding: 5%;
  border-radius: 10px;
  justify-content: center;
}


.contactLink {
  text-decoration: none;
  color: white;
  font-weight: 700;
}


.biography h2 {
  font-size: 2em;
  color:black;
  font-weight: 700;
  position: absolute;
  top: 32%;
  left: 26%;
}


.socials {
  position: absolute;
  top: 53%;
  left: 5%;
  width: 15vw;
  
}


.socialP {
  font-size: 1em;
  margin: 2% auto; 
}


.linkedIn {
  width: 10vw;
  height: 5vh;
  background-color: white;
  border-radius: 5px;
  margin: 2% auto; 
}


.gitHub {
  width: 10vw;
  border-radius: 15px;
  height: auto;
  margin: 2% auto;
}


.socials a {
  cursor: pointer;
}


/* contact page css */

.contact {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}
.ContactForm {
  background-color: #51215B;
  color: white;
  height: 100%;
  width: 100%;
  height:auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #c526a8;
  margin: 0 auto;
}


.ContactForm label {
  color: #c526a8;
  font-weight: 700;
  font-size: 1.1em;
  display: flex;
  justify-content: left;
  margin-top: 1em;
}


.contactBtn {
  border-radius: 8px;
  background-color: #c526a8;
  border: 1px solid black;
  margin-top: 1em;
  cursor: pointer;
}

form {
  width: 90%;
  text-align: center;
  margin: 5px auto;
  
}


input,
textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  border-radius: 10px;
}


.tyMessage {
  color: lime;
  font-weight: 100;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(50, 205, 50, 0.584);
  border-radius: 8px;
}



.asideContact {
  width: 90%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.582);
  color: black;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: top;
  flex-direction: column;
  margin: 5%;
  padding: 10%;
  border: 2px solid white;
}


.asideContact a {
  text-decoration: none;
  color: black;
  margin: 5%;
}


.asideContact h3 {
  font-size: 1.9rem;
  color:black;
}

.asideContact h2 {
  display: flex;
  justify-content: center;
}

.contactGrid {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-gap: 10px;
}


.bioPicContact {
  width: 80%;
  border-radius: 10px;
  margin: 3%;
  border:2px solid #51215B;
}



@media (max-width: 845px) {
  .home {
    display: grid;
    grid-template-columns: 15% 70% 15%; /* Three columns with different widths */
    height: 100%;
  }


  .sideColumn {
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(fit-content, 1fr)); 
    height: 70vh;
    position: relative;
    justify-content: justify;
    align-items: justify;
    text-align: justify;
    overflow: hidden;
    padding: 3%;
    margin: 0;
  }


  .typing {
    width: 60%;
    height: max-content;
    padding: 1%;
    padding-top: 3%;
    display: flex;
    justify-content: left;
    font-size: 100%;
  }
  

  .flashingWord {
    font-size: 3.75vw;
    width:fit-content;
    height: max-content;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }


  footer {
    width: 100%;
    height: 10vh;
    font-size: 18pt;
    background-color: #51215B;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 30;
    align-items: center;
    color: white;
  }
}